body {
    background-color: var(--stone-1800);
    margin: 100px auto;
    padding: 0;
}

@media (max-width: 600px) {
    body {
        margin: 20px auto;
    }
}
img {
    width: 100%;
    border-radius: 15px;
}

hr {
    margin: 2rem 0; 
}

hr:last-child {
    color: var(--stone-100);
}